@layout('base')

@section('content')
<h1>Shopping Cart</h1>

<ul>
    @each(cartItem in cart)
    <li>
        {{cartItem.title}} : {{cartItem.qty}} x ${{cartItem.price/100}} = ${{cartItem.qty * cartItem.price/100}}
    </li>
    @endeach
</ul>

@endsection
